<%= erb :"common/header" %>

<main>
  <section class="confirmation">
    <h1>Thank you for purchasing "<%= @bought_story_title %>!"</h1>
    <p>The story ID is <%= @story_id %>.</p>
    <form action="/story-page/<%= @story_id %>" method="get">
      <button type="submit">Okay</button>
    </form>
  </section>
</main>

<%= erb :"common/footer" %>