<%= erb :"common/header" %>


  <h1 class = "title"><%= @myTitle %></h1>


  <main>
    <section class="story-form">
      <h2>Write Your Story</h2>
      <% unless @error.nil? %>
        <p><strong class="error"><%= @error %></strong></p>
        <% end %>
      <form id="story-form" enctype="multipart/form-data" method="post" action="/edit-story/<%= @story_id %>">
        <label for="story-title">Title:</label>
        <input type="text" id="story-title" value = "<%= @title %>" name="story-title" required><br><br>


        <label for="story-content">Story Content:</label><br>
        <textarea id="story-content" name="story-content" rows="10" cols="50" required><%= @content %></textarea><br><br>


       <label for="blurb-content">Blurb:</label><br>
        <textarea id="blurb-content" name="blurb-content" rows="5" cols="50" required><%= @blurb %></textarea><br><br>


        <label for="price">Price:</label>
        <input type="number" id="price" value = "<%=@price%>" name="price" step="0.01" required><br><br>
        <label for="genre">Genre:</label>
        <select id="genre" name="genre" required>
          <option value="fiction">Fiction</option>
          <option value="crime-fiction">Crime Fiction</option>
          <option value="fantasy">Fantasy</option>
          <option value="science-fiction">Science Fiction</option>
          <option value="mystery">Mystery</option>
          <option value="thriller">Thriller</option>
          <option value="horror">Horror</option>
          <option value="romance">Romance</option>
          <option value="historical">Historical</option>
          <option value="adventure">Adventure</option>
          <option value="drama">Drama</option>
          <option value="autobiography">Autobiography</option>
          <option value = "<%=@genre%>" selected><%=@genre%> </option>
        <input type="submit" value="Submit">
      </form>
    </section>


  </main>
<%= erb :"common/footer" %>
