<%= erb :"common/header" %>

  <h1 class = "title"><%= @myTitle %></h1>

  <main class = Home>
    
    <section class="story">
      <% @stories.first(3).each do |story| %>
        <div class="container">
          <h2><a href="/story-page/<%= story[:storyid].to_i %>"><%= story[:title] %></a></h2>
          <p><%= story[:blurb] %></p>
        </div>
      <% end %>
    </section>

    <% if checkIfTop10 && checkIfCampaignAvailable && checkIfNotActive%>
    <% getActiveCampaigns %>
    <% @campaign_list.each do |campaign| %>
      <div>
        <section class="story">
            <h3><%= campaign[:title] %></h3>
            <div class="campaign-info">
            <p><strong>Content:</strong> <%= campaign[:content] %></p>
            <p><strong>Start Date:</strong> <%= campaign[:startdate] %></p>
            <p><strong>End Date:</strong> <%= campaign[:enddate] %></p>
            <p><strong>Discount:</strong> <%= campaign[:discount] %></p>
            <p><a href="/activateDiscount/<%= campaign[:campaignid] %>"> Activate </a></p>
        </section>
      </div>
    <% end %>
    <%end%>
  </main>
<%= erb :"common/footer" %>
