<%= erb :"common/header" %>

<h1 class = "title"><%= @myTitle %></h1>

<main>
  <section>
    <h2>Cart</h2>
    <% if @cart.empty? || @cart.nil? %>
      <p>Your cart is empty.</p>
    <% else %>
      <ul>
        <% @cart.each do |item, quantity| %>
          <li>
            <form method="post" action="/removeitem/<%= item %>">
              <%= "#{item} x #{quantity}" %>
              <input type="submit" value="Remove Item">
            </form>
          </li>
        <% end %>
      </ul>
      <p><%= @error %></p>
      <h2>Total Price: <%= @total %> COM_pounds</h2>
    <% end %>
    <form method="post" action="/buyitemsincart">
      <input type="submit" value="Buy Items">
    </form>
    <a href="/addcompounds"><input type="submit" value="Add COM_pounds"></a>
  </section>
</main>
<%= erb :"common/footer" %>