<%= erb :"common/header" %>

  <h1 class = "title"><%= @myTitle %></h1>

  <main>
    <section>
        <h2>Searches for <i>"<%= @query %>"</i></h2>
        <h3>Users:</h3>
        <% if @users_results && !@users_results.empty? %>
            <ul>
                <% @users_results.each do |result| %>
                    <li>Writer's username: <span class="info"><%= result['username'] %></span></li>
                <% end %>
            </ul>
        <% else %>
            <p class="alert">No results found.</p>
        <% end %>
        
        <h3>Stories:</h3>
        <% if @stories_results && !@stories_results.empty? %>
            <ul>
                <% @stories_results.each do |result| %>
                    <li>Story title: <span class="info"><%= result['title'] %></span></li>
                    <ul>
                        <li>Story content: <span class="info"><%= result['content'] %></span></li>
                    </ul>
                <% end %>
            </ul>
        <% else %>
            <p class="alert">No results found.</p>
        <% end %>
    </section>
  </main>
<%= erb :"common/footer" %>
