<%= erb :"common/header" %>

  <h1 class = "title"><%= @myTitle %></h1>

  <main>
    <section>
        <h2>Searches for <i><%= @query %></i></h2>
        <h2>Users:</h2>
        <% if @users_results && !@users_results.empty? %>
            <ul>
                <% @users_results.each do |result| %>
                    <li><strong>User:</strong> <%= result['username'] %> Type: <%= result['type'] %></li>
                <% end %>
            </ul>
        <% else %>
            <p>No results found.</p>
        <% end %>
        
        <h2>Stories:</h2>
        <% if @stories_results && !@stories_results.empty? %>
            <ul>
                <% @stories_results.each do |result| %>
                    <ul>
                        <li><strong>Story title:</strong> <%= result['title'] %></li>
                        <li><strong>Story content:</strong> <%= result['content'] %></li>
                    </ul>

                <% end %>
            </ul>
        <% else %>
            <p>No results found.</p>
        <% end %>
    </section>
  </main>
<%= erb :"common/footer" %>
