<%= erb :"common/header" %>
<article>
    <h1>User Tickets:</h1>
</article>
<main class="home">
  <% unless @error.nil? %>
    <p><strong class="error"><%= @error %></strong></p>
  <% end %>
  <% get_tickets %>
  <% if @staff_contacts.nil? || @staff_contacts.empty? %>
    <p>No tickets found.</p>
  <% else %>
    <% @staff_contacts.each do |contact| %>
       <div>
         <section class="story">
        <div class="container">
          <% contact.each do |key, value| %>
          <p><strong><%= key %>:</strong> <%= value %></p>
        <% end %>
        </div>
    </section>
      </div>
    <% end %>
    <br>
  <% end %>
</main>
<%= erb :"common/footer" %>