<%= erb :"common/header" %>
    <article>
        <h1>Staff Actions:</h1>
    </article>
    <main class=home>
    <% unless @error.nil? %>
        <p><strong class="error"><%= @error %></strong></p>
    <% end %>
    <% if session["type"].eql?("admin")%>
    <form method="post" action="/find-user">
    <p>Find User: <br /><input type="text" name="username" value="<%= h @username %>"/></p>
    <button type="submit">Find User</button>
    </form>
    <% end %>
    <form method="post" action="/find-story">
    <p>Find Story: <br /><input type="text" name="storyid" value="<%= h @storyid %>"/></p>
    <button type="submit">Find Story</button>
    </form>
    <% if !session["userfound"].nil? && session["type"].eql?("admin")%>
    <form action="/delete-account" method="post">
    <button type="submit">Delete Account</button>
    </form>
    <form action="/edit-popcorns" method="post">
    <label for="popcorns">Popcorns:</label><br>
    <input type="number" step="1" id="popcorns" name="popcorns" value="<%= h @popcorns %>" required><br>
    <button type="submit">Change Popcorns</button>
    </form>
    <form action="/change-type" method="post>
    <label for="account_type">Account Type:</label><br>
        <input type="radio" id="reader" name="account_type" value="reader" <%= @account_type == 'reader' ? 'checked' : '' %>>
        <label for="reader">Reader</label><br>
        <input type="radio" id="writer" name="account_type" value="writer" <%= @account_type == 'writer' ? 'checked' : '' %>>
        <label for="writer">Writer</label><br>
        <input type="radio" id="admin" name="account_type" value="admin" <%= @account_type == 'admin' ? 'checked' : '' %>>
        <label for="admin">Admin</label><br>
        <input type="radio" id="manager" name="account_type" value="manager" <%= @account_type == 'manager' ? 'checked' : '' %>>
        <label for="manager">Manager</label><br>
        <button type="submit">Change Type</button>
    </form>
    <% end %>
    <% if !session["storyfound"].nil? %>
    <form action="/delete-story" method="post">
    <button type="submit">Delete Story</button>
    </form>
    <form action="/edit-story" method="post">
    <button type="submit">Edit Story</button>
    </form>
    <% end %>
    </main>