<%= erb :"common/header" %>

  <main>
    <section class="story">
      <h1 class = "title"><%= @title %></h1>
      <h2>Written by <%= @author %><h2>

      <% if not session["logged_in"] %>
        <p>Blurb: <%= @blurb %><p>
        <br>
        <p>Please <a href="/login">login</a> or <a href="/create-account">create an account</a> to read this story.<p>

      <% elsif session["logged_in"] && !@bought_story%>
        <p>Blurb: <%= @blurb %><p>
        <p>Purchase this story to read on...<p>
        
        <% if @error == nil %>
            <form action="/buy-story/<%= @storyID %>" method="post">
            <input type="hidden" name="story_id" value="<%= @storyID %>">
            <button type="submit">Buy Story</button>
            </form>
        <% elsif @error == "You don't have enough popcorns to purchase this story." %>
            <p><%= @error %><p>
            <p>Click <a href="/store">here</a> to purchase more<p>
        <% else %>
            <p><%= @error %><p>
        <% end %>

      <% elsif session["logged_in"] && @bought_story %>
        <p>StoryID: <%= @storyID %></p>
        <p><%= @body %></p>
      <% end %>
    </section>

        <% if getWriterId(@storyID)==session["currentuser"] %>
        <section class="story">
            <p><a href="/edit-story/<%= @storyID %>"> Edit Story </a></p>
            <p><a href="/add-poll/<%= @storyID %>"> Add Poll </a></p>
            </section>
        <%end%>


  </main>
<%= erb :"common/footer" %>
