<%= erb :"common/header" %>

  <main>
    <section class="story">
      <h1 class = "title"><%= @title %></h1>
      <p>StoryID: <%= @storyID %></p>
      <p>Author: <%= @author %></p>
      <p><%= @body %></p>
    </section>

  </main>
<%= erb :"common/footer" %>
